---
---
.responsive-video {
  position: relative;
  padding-bottom: 57.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  margin-bottom: 16px;
  &.aspect-235 { padding-bottom: 42.55%; }
  &.aspect-16x9 { padding-bottom: 57.25%; }
  &.aspect-4x3 { padding-bottom: 65.5%; }

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

section h3 {
  margin-top: 0;
  font-size: 2.5em;
}

#portfolio .row {
  margin-bottom: 60px;
}